@font-face {
	font-family: 'Dokdo';
	src: url('./font/Dokdo-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'PatrickHand';
	src: url('./font/PatrickHand-Regular.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

.page {
	padding-top: 3rem;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

body {
	background-color: #02031E;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow: hidden; */
}

* {
	font-family: 'PatrickHand', Arial, Helvetica, sans-serif;
	animation-duration: 0.5s;
	transition-duration: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
a {
	font-family: 'Dokdo', Arial, Helvetica, sans-serif;
}

nav {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 3rem;

	div.bg {
		z-index: 95;
		width: 100%;
		position: absolute;
		overflow: hidden;
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: rgba(246, 109, 129, 0.25);
		}

		img {
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}

	div.links {
		position: relative;
		z-index: 100;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		a {
			font-size: 1.5rem;
			width: 100%;
			height: 100%;
			display: grid;
			place-content: center;
			color: #02031E;
			text-decoration: none;

			&:hover {
				background: rgba(194, 96, 111, 0.118);
			}

			&.active {
				color: rgb(239, 56, 83);
			}
		}
	}
}

#crease {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	#title {
		width: 75vw;
		max-width: 450px;
		margin-top: calc(5vh + 1vw);
	}

	#release {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 1rem;
		gap: 0.5rem;

		img[alt="steam"] {
			height: 2rem;
		}

		span {
			color: rgb(239, 56, 83);
			font-family: 'Dokdo', Arial, Helvetica, sans-serif;
			font-size: 1.2rem;
		}
	}

	&>div {
		max-width: 75%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div#tagline {
		color: rgb(246, 109, 130);
		/* font-family: 'Dokdo', Arial, Helvetica, sans-serif; */
		/* font-size: 1.2rem; */
		text-align: center;
	}

	div#release,
	div#about-game {
		background:
			linear-gradient(rgba(239, 190, 198, 0.435), rgba(238, 218, 221, 0.331)),
			url("img/paper1.jpg") center/cover no-repeat;

		padding: 0.5rem 1rem;
	}

	#demo {
		position: relative;
		width: 100%;
		max-width: 650px;
		aspect-ratio: 16/9;
		overflow: hidden;
		border: 4px dashed rgb(246, 109, 130);
		margin: 1rem;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	div.game-info {
		padding-bottom: 3rem;
		gap: 2rem;

		#about-game {
			transform: rotate(1deg);
		}
	}

	div#release {
		transform: rotate(-2deg);
	}

	img.curtain {
		position: absolute;
		width: 20%;
		min-width: 150px;
		top: 0;
		z-index: -10;

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}
	}
}

#pitch {
	background-color: #7486ce;

	h2 {
		font-size: 3.5rem;
		text-align: center;
		text-decoration: dashed underline #0d549a;
		text-decoration-thickness: 4px;
	}

	div.pitch {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 80%;
		max-width: 650px;
		aspect-ratio: 16/9;

		iframe {
			width: 100%;
			height: 100%;
			border: 4px dashed #0d549a;
		}
	}
}

/* <div class="pitch" style="position: relative; width: 100%; height: 0; padding-top: 56.25%;">
			<iframe src="https://www.canva.com/design/DAG3ea4_pr8/view?embed"
				style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none;" allowfullscreen></iframe>
		</div> */

#pre-pro {
	background:
		url("img/DarkSkyBackground.png") center/cover no-repeat;
}

#contact {
	/* background-color: #fe942d; */
	background:
		linear-gradient(rgba(230, 150, 162, 0.355), rgba(255, 182, 193, 0.25)),
		url("img/paper2.png") center/cover no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 15rem;
	padding-bottom: 7rem;
	justify-content: space-between;


	* {
		color: #02031E;
		font-size: larger;
	}

	h2 {
		font-size: 3rem;
		text-decoration: dashed underline #0d549a;
		text-decoration-thickness: 4px;
	}

	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}

	div.links {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: -10rem;

		a {
			background:
				linear-gradient(rgba(230, 150, 162, 0.355), rgba(255, 182, 193, 0.25)),
				url("img/paper1.jpg") center/cover no-repeat;

			padding: 1rem;
			box-shadow: 10px 10px 5px #02031e49;

			&:nth-child(1) {
				transform: translate(-15px, -5px) rotate(-5deg);
			}

			&:nth-child(2) {
				transform: translateX(20px) rotate(3deg);
			}

			&:hover {
				transform: translateY(-5px) scale(1.2);
				filter: brightness(1.1);
				box-shadow: 15px 25px 5px #02031e30;
			}
		}

		.logo {
			height: 3rem;
		}
	}

	#copyright {
		color: #0d549a;
	}
}